<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterProcess</servlet-name>
        <servlet-class>user.RegisterProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_add</servlet-name>
        <servlet-class>servlets.user_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_add</servlet-name>
        <servlet-class>servlets.product_add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>product_delete</servlet-name>
        <servlet-class>servlets.product_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>user_delete</servlet-name>
        <servlet-class>servlets.user_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfilePhoto</servlet-name>
        <servlet-class>servlets.UpdateProfilePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBill</servlet-name>
        <servlet-class>servlets.CreateBill</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterProcess</servlet-name>
        <url-pattern>/RegisterProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_add</servlet-name>
        <url-pattern>/user_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_add</servlet-name>
        <url-pattern>/product_add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>product_delete</servlet-name>
        <url-pattern>/product_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>user_delete</servlet-name>
        <url-pattern>/user_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfilePhoto</servlet-name>
        <url-pattern>/UpdateProfilePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBill</servlet-name>
        <url-pattern>/CreateBill</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
